<form action="{{ path('comment_add') }}">
    <input type="hidden" value="{{ post.id }}">
    <textarea placeholder="Add Comment"></textarea>
    <button type="submit" class="btn btn-primary">Valider</button>
</form>