{% extends 'base.html.twig' %}
{% block content %}
<h2>New Articles</h2>
    <ul>
    {%for post in posts %}
        {% include 'post/short.html.twig' %}
    {% endfor %}
    </ul>
    <a href="{{ path('post_add') }}" class="btn btn-primary">Add Post</a>
{% endblock %}